$nav-bg: #2f3e4f;
$nav-link: #e5e7eb;

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
   background: linear-gradient(
    135deg,
    #ffffff,
    #e6eef5,
    #83a5cc,
    #2c2c2c
  );
}

.index-container{
    background: linear-gradient(
    135deg,
    #2c2c2c,
    #3b4f6b,
    #2c2c2c
  );
}

.custom-navbar{
    background-color: $nav-bg;

    .nav-link{
        color: $nav-link;

        &:hover{
            color: rgb(2, 145, 202);
            text-decoration: underline;
            letter-spacing: 1px;
            background: rgb(83, 82, 82);
        }
    }
}

.profile-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.uofc-img{
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 50%;
}

.gtu-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.linestar-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.about-container{
    background-color: #eef3f8;
    border-radius: 12px;
}

.skill-table{
    background-color: white;

    th{
        font-size: 1.1rem;
        vertical-align: middle;
        text-align: center;
    }
}

.skill-img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;

    &:hover{
        cursor: pointer;
    }
}

.submit-btn{
    border: none;
    width: 90px;
}

.contact-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 12px;
}

.contact-container{
    background-color: #eef3f8;
    border-radius: 12px;
}