$nav-bg: rgb(83, 79, 79);
$nav-link: #e5e7eb;

.custom-navbar{
    background-color: $nav-bg;

    .nav-link{
        color: $nav-link;

        &:hover{
            color: rgb(2, 145, 202);
            text-decoration: underline;
            letter-spacing: 1px;
            background: rgb(83, 82, 82);
        }
    }
}

.profile-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.uofc-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.gtu-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}