<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calgary Building Permits</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="loadingOverlay">
        <div id="loadingSpinner"></div>
        <p>Fetching permits...</p>
    </div>

    <h1>Calgary Building Permit Search</h1>

    <div class="searchbar">
        <div class="search-start">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate">
        </div>
        
        <div class="search-end">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate">
        </div>
        
        <button id="searchBtn">Search</button>
    </div>

    <div class="intro">
        <p class="welcome-message">Welcome to the Calgary Building Permit Search Web Application!</p>
        <p>You can search for building permits within a specific date range. Just select the start and end dates and click on the <b>Search</b> button.</p>
        <p>This will display all building permits with a marker on them. Clicking on the marker will show you more details about the permit like when it was issued, work class, contractor name, community name, and the original address.</p>
    </div>

    <div id="map"></div>

    <script src="/static/script.js"></script>
</body>
</html>